<style>
  @media (min-width: 768px) {
    .text-section {
      display: block;
      margin: auto auto 60px;
      font-size: 20px;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }
  }
  .above_text {
    padding: 0 15px;
  }
  .above_text p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .above_text h3 {
    margin: 60px 0 20px;
    font-weight: 700;
    color: #333;
    font-size: 28px;
    text-align: center;
  }
  .text-section a {
    text-decoration: underline;
  }
</style>

<section>
  <div style="max-width: 120rem; justify-content: center; margin-left: auto; margin-right: auto; line-height: 1.63;">
    <div class="text-section above_text">
      <h3>ABOUT HIT NEON®</h3>
      <p>
        Welcome to the Hit Neon® family! We're here to light up your life and offer a fun way to personalize your space
        with the glow of neon lights. We specialize in creating custom neon signs that perfectly reflect your style and
        vision. All our signs are handcrafted with care, just for you.
      </p>
      <p>
        From ready-made designs crafted by our team of creatives to custom creations bursting with your own creative
        touch, our options cater to every desire. Hit Neon® crafts stunning neon signs for any space and purpose, from
        cozy homes to cafes, businesses and special events. We don't just make signs, we create glowing focal points
        that spark joy along the way. We specialize in delivering the finest neon signs to fill your heart with a warm
        glow. No matter where you are in the world, Hit Neon® can deliver the gift of glow that will energize your space
        and light up your eyes.
      </p>
    </div>
    <div class="text-section above_text">
      <h3>Shine on, with Neon</h3>
      <p>
        Looking for an eye-catching <a href="/collections/personalized-wedding-neon-signs">neon wedding sign</a> to make
        your big day even brighter? How about a personalized
        <a href="/collections/name-neon-signs">neon name sign</a> to light up your kid's room in style? We can create
        pretty much anything else you can dream up in neon, including eye-catching bar signs, one-of-a-kind logos and
        inspirational <a href="/collections/quote-neon-signs">quotes</a> to keep you motivated. Our dazzling collection
        of pre-made neon signs is designed to grab attention no matter the setting. Explore our selection and discover
        timeless designs that will become easily recognizable favorites.
      </p>
    </div>
    <div class="text-section above_text">
      <h3>Your Vision, Our Neon</h3>
      <p>
        We don't just bend light, we bend it to your will! We see neon lights as a way to express yourself and unleash
        your creativity. That’s why we specialize in custom-made LED neon light signs.
      </p>
      <p>
        We provide high-quality <a href="/products/create-your-own-custom-neon-sign">custom LED neon signs</a> you
        designed so that you can personalize your space exactly how you envision it. Whether it's a special quote
        reflecting your personality, a custom word art piece to inspire you daily, a dazzling
        <a href="/collections/bar-beer-signs">bar light</a>, or a unique
        <a href="/pages/custom-designed-led-neon-sign">neon logo</a> – whatever you design, we can make it happen. Let
        your imagination light the way and have fun lighting up your living space. Our team of experts is here to guide
        you every step of the way, ensuring your ideas shine through in vibrant neon.
      </p>
    </div>
    <div class="text-section above_text">
      <h3>Get Glowing in No Time</h3>
      <p>
        We know you're excited to light up your space with your new neon sign, so we've made the whole process a breeze.
        Crafting your dream sign is a fun and easy experience, and hanging it is just as simple. Each of our LED neon
        lights comes equipped with pre-drilled holes, so you can install it yourself quickly and with ease. No need for
        complicated setups or tedious processes – just effortless installation, allowing you to bask in the glow of your
        creation in no time.
      </p>
    </div>
    <div class="text-section above_text">
      <h3>Built to Last, Delivered with Care</h3>
      <p>
        We take pride in creating a seamless experience, from design to delivery, so you can enjoy the glow-up you've
        been waiting for. That means top-notch customer service, high-quality materials and stress-free installation.
        Handcrafted from the highest quality materials, our neon lights are delivered to your doorstep securely
        packaged, to ensure they reach you in perfect condition. After all, we want them to brighten up your life for
        years to come.
      </p>
    </div>
  </div>
</section>

{% schema %}
{
  "presets": [
    {
      "name": "About Hit Neon",
      "category": "Reference"
    }
  ]
}
{% endschema %}
