<style>
   .our-expertise h3 {
     font-size: 1.5em;

     &.faq {
     margin: 1em 0;
     text-align: left;

       @include media(max-width $small-screen) {
       margin-left: 20px;
         }
     }
   }

   .faq-container {
     max-width: 1280px;
       padding-bottom: 1.5em;
       margin: 0 auto;
       width: 90%;
   }

    .mobile-expertise-faq {
      max-width: 73.4rem;
      margin-left: auto;
      margin-right: auto;
    }

   p.mobile-faq-menu {
     margin: auto;
     padding: 20px;
     padding-left: 0;
     font-size: 15px;
     font-weight: 700;     border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
     {% comment %} font-weight: 700; {% endcomment %}
   }
   .mobile-faq-menu {
     cursor: pointer;
   }

   .expertise-faq {
     display: inline-block;
   }

   .contact-faq {
      background: #f3f3f3;
       height: 1000px;
       width: 375px;
       float: right;
       display: inline-block;

       @include media(max-width $large-screen) {
       float: none;
       display: block;
     }
   }

   .mobile-faq {

   }
  {% comment %} .container {
    max-width:960px;
    margin:0 auto;
    padding:1em 0 1em 0;
  } {% endcomment %}


   p.faq-accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 14px;
    font-weight: 600;
   }

   /* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
   p.faq-accordion.active, p.accordion:hover {
   }

   /* Unicode character for "plus" sign (+) */
   p.faq-accordion:after {
    content: '\2795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
   }

   p.mobile-faq-menu:after {
    content: '\2795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
   }


   /* Unicode character for "minus" sign (-) */
   p.faq-accordion.active:after {
    content: "\2796";
   }

   p.mobile-faq-menu.active:after {
      content: "\2796";
   }

   /* Style the element that is used for the panel class */
   div.faq-panel {
    // padding: 5px 18px;
    {% comment %} background-color: white; {% endcomment %}
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    text-align: left;
    max-width: 580px;
    // margin: 5px 0px;
   }

   p.faq-panel {
    font-size: 14px;
    line-height: 1.42857143;
  }

   div.faq-panel.show {
    opacity: 1;
    max-height: 750px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
   }

   div.mobile-faq-panel {
      // padding: 5px 18px;
    {% comment %} background-color: white; {% endcomment %}
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    text-align: left;
    padding-left: 18px;
    // max-width: 580px;
    // margin: 5px 0px;
   }

   div.mobile-faq-panel.show {
      opacity: 1;
    max-height: 750px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
   }
</style>

<section style="background-color: #e8f4fa; margin-top: 30px; padding-top: 7rem; padding-bottom: 7rem;">
  <div class="collapsible-content__header scroll-trigger animate--slide-in" style="text-align: center;">
    <p class="caption-with-letter-spacing">Frequently Asked Questions</p>

    <h2
      class="collapsible-content__heading inline-richtext h1"
      style="font-size: calc(var(--font-heading-scale)* 2.4rem) !important;"
    >
      FAQs
    </h2>
  </div>
  <div style="max-width: 120rem; justify-content: center; margin-left: auto; margin-right: auto;">
    <div class="mobile-expertise-faq">
      <div>
        <p class="mobile-faq-menu">General</p>
        <div class="mobile-faq-panel">
          <div class="expertise-faq">
            <div>
              <p class="faq-accordion">Is Renart Decor legitimate?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Yes, Renart Decor is a 100% legitimate business, specializing in high-quality Neon LED signs that can
                  be customized according to our customers' preferences. We are committed to delivering the perfect
                  solutions, ensuring a secure and satisfying shopping experience. Our focus is on bringing personalized
                  flair to your spaces with our bespoke Neon Sign products, alongside our dedication to customer
                  satisfaction and service.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">Why choose Renart Decor for neon signs?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  We specialize in crafting high-quality neon signs that are not only vibrant and eye-catching but also
                  tailored to meet your unique preferences and needs. Our signs are energy-efficient, durable, and made
                  with meticulous attention to detail. Additionally, we pride ourselves on our responsive and helpful
                  customer service team, ensuring a smooth and enjoyable shopping experience from start to finish. With
                  Renart Decor, you're not just buying a neon sign; you're bringing a personalized piece of art into
                  your space.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">What is the difference between LED neon and glass neon?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Certainly! LED neon signs differ from traditional glass neon in several key ways. They are more
                  durable and energy-efficient, making them a safer and more cost-effective choice. LED neon is made
                  from flexible tubing that's less prone to breaking, easier to install, and requires minimal
                  maintenance. Additionally, LED signs offer greater customization options and a longer lifespan
                  compared to their glass counterparts. While both have their aesthetic appeal, the practical benefits
                  of LED neon make it a popular choice for modern decor needs.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">Do you have a warranty? What does the warranty include?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Yes, we offer 2-year warranty on our products. This warranty covers any defects in materials and
                  workmanship. In the rare event that you encounter an issue with your product due to our manufacturing
                  process, we will provide a replacement at no extra cost. Please visit our Warranty page for more
                  details or feel free to reach out to u for your questions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="mobile-faq-menu">Shipping and Returns</p>
        <div class="mobile-faq-panel">
          <div class="expertise-faq">
            <div>
              <p class="faq-accordion">What is the lead time for custom neon signs?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  We need 2-3 business days to manufacture your custom neon sign and shipment usually takes another
                  business days. You can expect to receive your sign at 4-6 business days in total.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">What to do if there is a missing item in my package?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  In case there is a missing item or a problem with your package, please contact us immediately and
                  we’ll take care of the rest.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">How do returns and exchanges work?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  We have a very easy and convenient return and exchange process. Please visit our Returns & Exchanges
                  page for more information on the next step. You can always contact us through email or phone if you
                  need further help. Our dedicated customer service will do their best to help you.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">What does the packaging include?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  The packaging includes your made-to-order neon sign, power supply/adapter, complimentary dimmer,
                  installation kit as well as the instruction guide on how to install your sign in a matter of minutes.
                  To make things easier for you, we came up with the easiest installation process there is.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">Can neon signs be shipped outside the US and Canada?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Yes, we ship worldwide with free express shipping. The shipping takes 2-3 business days for UK and
                  Europe. For the rest of the world shipping time is 2-5 business days. Please note that there may be
                  Customs and Duty fees at your home country which falls under buyer’s responsibility. Please check the
                  Customs requirements for your country before placing your order.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="mobile-faq-menu">Installation</p>
        <div class="mobile-faq-panel">
          <div class="expertise-faq">
            <div>
              <p class="faq-accordion">How long is the cord for the neon signs?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  The cord for our neon signs is 6 feet long. This length is designed to provide flexibility for
                  placement and installation, ensuring you can easily connect your sign to a power source while
                  accommodating various design layouts and preferences.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">How can I clean my neon sign?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  We include a cleaning guide in every package we ship but in case you lost it here is the cleaning
                  process in a few easy steps. For mor information visit our cleaning guide page.

                  To clean your neon sign, first ensure it is turned off and unplugged from the power source for safety.
                  Gently wipe the surface with a soft, dry cloth to remove dust. If needed, you can slightly dampen the
                  cloth with water, but avoid using harsh chemicals or abrasive cleaners that could damage the sign.
                  After wiping, if you've used a damp cloth, gently dry the sign with another soft, dry cloth. It's
                  important to handle the sign gently during cleaning to prevent any bending or breaking of its parts.
                  Regular, gentle cleaning will help maintain the sign's brightness and clarity, prolonging its
                  lifespan.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">What maintenance does neon signs require?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Neon signs from Renart Decor are designed for ease of maintenance. Regular dusting with a soft, dry
                  cloth is generally all that's needed to keep your sign looking its best. It's important to handle the
                  sign gently, especially when moving or adjusting it, to protect the neon tubing and electrical
                  components. Ensure the sign is operated according to the instructions and connected to an appropriate
                  power source. Avoid exposing the sign to moisture, as this can damage the electronics. Also,
                  periodically inspect the power connections and cords for wear or damage, replacing them as necessary.
                  With these simple care steps, your neon sign will continue to illuminate your space beautifully for
                  years.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="mobile-faq-menu">Technical</p>
        <div class="mobile-faq-panel">
          <div class="expertise-faq">
            <div>
              <p class="faq-accordion">What are the backboard options for neon signs?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  At Renart Decor, we offer 4 different backboard options. Cut to Shape and Cut to Letter are the most
                  popular ones of these 4. We also offer Full Acryllic Board and Free Standing options to make sure you
                  have exactly what you need. Our backboards come in 5 different color options: transparent, white,
                  black, red and blue.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">What are the available color options for neon signs?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Renart Decor offers 10 different colors for neon signs: white, warm white, yellow, orange, red, pink,
                  purple, blue, green and ice blue. If you need a custom color feel free to reach out and we’ll see what
                  we can do about it. Multi-color signs are also available at an extra cost.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">What are neon signs made of?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Neon signs from Renart Decor are primarily made using LED technology. The "neon" part of the sign is
                  crafted from flexible LED neon tubing, which is a durable and energy-efficient alternative to
                  traditional glass neon. This tubing is made of materials that are both flexible and resilient,
                  allowing for a wide range of custom shapes and designs. Inside the tubing, LED lights provide the
                  bright, vibrant glow that mimics the classic neon look. The signs are often mounted on backboards,
                  which can be made of various materials depending on the design and customer preference
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">How are neon signs powered?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Neon signs are mainly powered by electricity. They are designed to be plugged into a standard
                  electrical outlet using a power adapter. The LED technology in these signs is highly energy-efficient,
                  consuming significantly less power than traditional glass neon signs. We also offer a battery box at
                  additional cost if you need to use your sign outdoors where no electric outlet is available.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">Can neon signs be used outdoors?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Our neon signs are made with our customer’s preference in mind. Our indoor neon signs are meant to be
                  used indoor-only. They are not water-resistant but are durable enough if taken well care of in dry
                  weathers. Our outdoor neon signs on the other hand are water resistant and will be more durable.
                  However, please note that outdoor signs will still need to be taken well care of to prolong its life.
                  Extensive exposure to sun or rain should be avoided.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="mobile-faq-menu">Custom Orders</p>
        <div class="mobile-faq-panel">
          <div class="expertise-faq">
            <div>
              <p class="faq-accordion">How do custom neon signs work?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  It’s extremely easy! We have three different options for you:
                  <br>
                  <br>
                  1. Design your own neon sign: Use our customizer to choose any font, color, size or text you’d like
                  and we’ll create the neon sign of your dreams. <br>
                  2. Upload your design: You can share your artwork or logo with us so our in-house designers can turn
                  them into a neon design. We’ll then share a free mock-up and provide a quote with you. Upon your
                  confirmation, we’ll start working on your sign. <br>
                  3. Shop ready-made designs: Our in-house designers created hundreds of ready-made designs with our
                  customers’ needs in mind. You can find everything from bar signs to motivational quote signs in our
                  ready-made neon sign collections.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">How can I design my own neon sign?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  We’ve got you covered on this. Our customizer will provide you everything you need to come up with
                  your dream sign. Visit our custom neon sign page and do as follows.
                  <br>
                  <br>
                  1. Change the alignment of your text and type your text. <br>
                  2. Choose a font among our extensive font options. (For additional font options email us!) <br>
                  3. Choose your favorite color. We have 10 of the best colors for you at no extra cost. For multi-color
                  or custom color options email us. <br>
                  4. Choose the size of your sign. Our customizer will show you the dimensions for convenience.<br>
                  5. Choose the type and the color of your backboard as well as the mounting type. <br>
                  6. State any additional requests and we’ll make it happen.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">What fonts are available for custom neon signs?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  We have 20+ fonts for you to choose from. If you have a particular font in mind feel free to email us
                  and we’ll see if it’s doable.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">Can I use my logo for a custom neon sign?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Sure thing. Visit our custom artwork neon sign page. Submit your logo or artwork along with other
                  requested information. We’ll promptly provide you with a quote and a free mock-up so you can see how
                  it’ll look like. Upon your confirmation you can complete your purchase.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">How much does a custom neon sign cost?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Renart Decor offers the most competitive pricing on neon signs. We are a direct manufacturer, meaning
                  we cut the middleman and can offer the best quality at a very affordable price point. You’ll be able
                  to see the price of your custom neon sign beforehand.
                </p>
              </div>
            </div>
            <div>
              <p class="faq-accordion">How can I get a quote for a custom neon sign with a logo?</p>
              <div class="faq-panel">
                <p class="faq-panel" style="margin-top: 1.25em; margin-bottom: 2.5em">
                  Visit our custom artwork neon sign page. Submit your logo or artwork along with other requested
                  information. We’ll promptly provide you with a quote and a free mock-up so you can see how it’ll look
                  like. Upon your confirmation you can complete your purchase.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function (event) {
    var acc = document.getElementsByClassName('faq-accordion');
    var panel = document.getElementsByClassName('faq-panel');
    for (var i = 0; i < acc.length; i++) {
      acc[i].onclick = function () {
        var setClasses = !this.classList.contains('active');
        setClass(acc, 'active', 'remove');
        setClass(panel, 'show', 'remove');
        if (setClasses) {
          this.classList.toggle('active');
          this.nextElementSibling.classList.toggle('show');
        }
      };
    }
    function setClass(els, className, fnName) {
      for (var i = 0; i < els.length; i++) {
        els[i].classList[fnName](className);
      }
    }
  });

  document.addEventListener('DOMContentLoaded', function (event) {
    var acc = document.getElementsByClassName('mobile-faq-menu');
    var panel = document.getElementsByClassName('mobile-faq-panel');
    for (var i = 0; i < acc.length; i++) {
      acc[i].onclick = function () {
        var setClasses = !this.classList.contains('active');
        setClass(acc, 'active', 'remove');
        setClass(panel, 'show', 'remove');
        if (setClasses) {
          this.classList.toggle('active');
          this.nextElementSibling.classList.toggle('show');
        }
      };
    }
    function setClass(els, className, fnName) {
      for (var i = 0; i < els.length; i++) {
        els[i].classList[fnName](className);
      }
    }
  });
</script>

{% schema %}
{
  "presets": [
    {
      "name": "Frequently Asked Questions",
      "category": "Reference"
    }
  ]
}
{% endschema %}
