<head>
  <script>
    gtag('event', 'conversion', { send_to: 'AW-16588561317/Ph0ICIDQ0MQZEKW3heY9' });
  </script>
</head>
<section id="section-{{ section.id }}" style="min-height: 500px; display: flex;">
  <div style="margin: 50px auto; padding: 20px;">
    <h1>Custom Design Request Submitted</h1>
    <span>Thank you for your request! Our team will prepare your design and get back to you shortly.</span>
  </div>
</section>
