<style>
  .image-bundle-container {
    display: flex;
    gap: 15px;
    flex: 1;
  }
  .image-bundle-large {
    flex: 2;
    overflow: hidden;
    border-radius: 20px;
  }
  .image-bundle-small {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
  }
  .our-best-image {
    border-radius: 20px;
    transition: all 0.2s;
  }
  .our-best-image:hover {
    scale: 1.1;
  }
  .owl-stage-outer {
    padding: 0 30px;
  }
  .mini-image-container {
    overflow: hidden;
    border-radius: 20px;
  }
  @media (min-width: 768px) {
    .desktop-image-col {
      display: flex;
      margin-top: 20px;
      gap: 15px;
    }
    .mobile-image-col {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .desktop-image-col {
      display: none;
    }
    .mobile-image-col {
      display: block;
    }
    .mobile-image-col .owl-nav {
      display: none;
    }
  }
</style>

<section style="margin-bottom: 50px;">
  <div style="display: flex; flex-direction: column; max-width: 120rem;margin-left: auto; margin-right: auto;">
    <span style="font-size: 2.4rem; text-align: center; font-weight: bold; color: black;">See Our Best</span>
    <span style="font-size: 15px; text-align: center; color: black;">Your Imagination, Our Creation!</span>
    <div class="desktop-image-col">
      <div class="image-bundle-container">
        <div class="image-bundle-large">
          <a href="https://instagram.com/hitneonsign" target="_blank">
            <img
              src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-1.jpg?v=1722261158"
              alt='"Listen, love, lust" custom neon sign'
              class="our-best-image"
              style="height: 100%"
            >
          </a>
        </div>
        <div class="image-bundle-small">
          <div class="mini-image-container">
            <a href="https://instagram.com/hitneonsign" target="_blank">
              <img
                class="our-best-image"
                alt='"Laugh loaf" custom neon sign'

                src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-2.jpg?v=1722261226"
              >
            </a>
          </div>
          <div class="mini-image-container">
            <a href="https://instagram.com/hitneonsign" target="_blank">
              <img
                class="our-best-image"
                alt='"Bad decisions make better stories" quote neon sign'

                src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-3.jpg?v=1722261413"
              >
            </a>
          </div>
        </div>
      </div>
      <div class="image-bundle-container">
        <div class="image-bundle-large">
          <a href="https://instagram.com/hitneonsign" target="_blank">
            <img
              src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-4.jpg?v=1722261411"
              class="our-best-image"
              alt='"where food meets people" restaurant neon sign'
              style="height: 100%"
            >
          </a>
        </div>
        <div class="image-bundle-small">
          <div class="mini-image-container">
            <a href="https://instagram.com/hitneonsign" target="_blank">
              <img
                class="our-best-image"
                alt='"The beehive" custom neon sign'
                src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-5.jpg?v=1722261413"
              >
            </a>
          </div>
          <div class="mini-image-container">
            <a href="https://instagram.com/hitneonsign" target="_blank">
              <img
                class="our-best-image"
                alt='"Create your own reality" quote neon sign'
                src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-6.jpg?v=1722261413"
              >
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-image-col">
      <ul class="grid product-grid contains-card owl-carousel contains-card--product contains-card--standard grid---col-desktop grid--1-col-tablet-down owl-loaded owl-drag">
        <li class="item grid__item" style="width: 100%; max-width: 100%; overflow: hidden; border-radius: 20px;">
          <a href="https://instagram.com/hitneonsign" target="_blank">
            <img
              src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-1.jpg?v=1722261158"
              alt='"Listen, love, lust" custom neon sign'
              class="our-best-image"
              style="height: 100%"
            >
          </a>
        </li>
        <li class="item grid__item" style="width: 100%; max-width: 100%; overflow: hidden; border-radius: 20px;">
          <a href="https://instagram.com/hitneonsign" target="_blank">
            <img
              src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-2.jpg?v=1722261226"
              alt='"Laugh loaf" custom neon sign'
              class="our-best-image"
              style="height: 100%"
            >
          </a>
        </li>
        <li class="item grid__item" style="width: 100%; max-width: 100%; overflow: hidden; border-radius: 20px;">
          <a href="https://instagram.com/hitneonsign" target="_blank">
            <img
              src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-3.jpg?v=1722261413"
              alt='"Bad decisions make better stories" quote neon sign'
              class="our-best-image"
              style="height: 100%"
            >
          </a>
        </li>
        <li class="item grid__item" style="width: 100%; max-width: 100%; overflow: hidden; border-radius: 20px;">
          <a href="https://instagram.com/hitneonsign" target="_blank">
            <img
              src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-4.jpg?v=1722261411"
              alt='"where food meets people" restaurant neon sign'
              class="our-best-image"
              style="height: 100%"
            >
          </a>
        </li>
        <li class="item grid__item" style="width: 100%; max-width: 100%; overflow: hidden; border-radius: 20px;">
          <a href="https://instagram.com/hitneonsign" target="_blank">
            <img
              src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-5.jpg?v=1722261413"
              alt='"The beehive" custom neon sign'
              class="our-best-image"
              style="height: 100%"
            >
          </a>
        </li>
        <li class="item grid__item" style="width: 100%; max-width: 100%; overflow: hidden; border-radius: 20px;">
          <a href="https://instagram.com/hitneonsign" target="_blank">
            <img
              src="https://cdn.shopify.com/s/files/1/0626/5992/0039/files/our-best-6.jpg?v=1722261413"
              alt='"Create your own reality" quote neon sign'
              class="our-best-image"
              style="height: 100%"
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "presets": [
    {
      "name": "See Our Best",
      "category": "Reference"
    }
  ]
}
{% endschema %}
