<style>
  div.input-container {
    position: relative;
  }
  div.input-container input, textarea {
    font-size: 1.6rem;
    color: #495055;
    width: 400px;
    padding: 10px 15px;
    border-radius: 1rem;
    border: 1px solid #C1C7D0;
    outline: none;
    box-shadow: none;
  }
  div.input-container label {
    {% comment %} margin: 17px 0; {% endcomment %}
    padding: 0 4px;
    color: black;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
  }

  div.input-container input:focus {
    color: #284b63;
    border-color: #284b63;
  }
  div.input-container input:focus + label {
    color: #284b63;
  }
  .upload-form-container {
    display: flex;
    flex-direction: column;
  }
  .upload-design-container {
    padding: 30px;
    flex: 1;

  }
  .input-container {
    display: flex;
    flex-direction: column;
  }
  .upload-design-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .upload-submit {
    border: none;
    padding: 12px 55px;
    font-size: 1.3rem;
    background-color: #00823E;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  {% comment %}  {% endcomment %}

  .upload-logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    max-width: 100%;
    padding: 25px;
    background-color: #fff;
    border-radius: 12px;
    transition: .3s;
    border: 1px solid #C1C7D0;
  }
  .upload-logo.is-active {
    background-color: #F0FCF2;
  }

  .fake-btn {
    flex-shrink: 0;
    background-color: #C3C9D1;
    border-radius: 8px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 10px;
  }

  .file-msg {
    color: #9699b3;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-delete {
    display: none;
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .item-delete:before {
    content: "";
    position: absolute;
    left: 0;
    transition: .3s;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23bac1cb' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 438.5 438.5'%3e%3cpath d='M417.7 75.7A8.9 8.9 0 00411 73H323l-20-47.7c-2.8-7-8-13-15.4-18S272.5 0 264.9 0h-91.3C166 0 158.5 2.5 151 7.4c-7.4 5-12.5 11-15.4 18l-20 47.7H27.4a9 9 0 00-6.6 2.6 9 9 0 00-2.5 6.5v18.3c0 2.7.8 4.8 2.5 6.6a8.9 8.9 0 006.6 2.5h27.4v271.8c0 15.8 4.5 29.3 13.4 40.4a40.2 40.2 0 0032.3 16.7H338c12.6 0 23.4-5.7 32.3-17.2a64.8 64.8 0 0013.4-41V109.6h27.4c2.7 0 4.9-.8 6.6-2.5a8.9 8.9 0 002.6-6.6V82.2a9 9 0 00-2.6-6.5zm-248.4-36a8 8 0 014.9-3.2h90.5a8 8 0 014.8 3.2L283.2 73H155.3l14-33.4zm177.9 340.6a32.4 32.4 0 01-6.2 19.3c-1.4 1.6-2.4 2.4-3 2.4H100.5c-.6 0-1.6-.8-3-2.4a32.5 32.5 0 01-6.1-19.3V109.6h255.8v270.7z'/%3e%3cpath d='M137 347.2h18.3c2.7 0 4.9-.9 6.6-2.6a9 9 0 002.5-6.6V173.6a9 9 0 00-2.5-6.6 8.9 8.9 0 00-6.6-2.6H137c-2.6 0-4.8.9-6.5 2.6a8.9 8.9 0 00-2.6 6.6V338c0 2.7.9 4.9 2.6 6.6a8.9 8.9 0 006.5 2.6zM210.1 347.2h18.3a8.9 8.9 0 009.1-9.1V173.5c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a8.9 8.9 0 00-9.1 9.1V338a8.9 8.9 0 009.1 9.1zM283.2 347.2h18.3c2.7 0 4.8-.9 6.6-2.6a8.9 8.9 0 002.5-6.6V173.6c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a9 9 0 00-6.6 2.6 8.9 8.9 0 00-2.5 6.6V338a9 9 0 002.5 6.6 9 9 0 006.6 2.6z'/%3e%3c/svg%3e");
  }

  .item-delete:after {
    content: "";
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #f3dbff;
    border-radius: 50%;
    transition: .3s;
  }

  .item-delete:hover:after {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 1;
  }

  .item-delete:hover:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%234f555f' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 438.5 438.5'%3e%3cpath d='M417.7 75.7A8.9 8.9 0 00411 73H323l-20-47.7c-2.8-7-8-13-15.4-18S272.5 0 264.9 0h-91.3C166 0 158.5 2.5 151 7.4c-7.4 5-12.5 11-15.4 18l-20 47.7H27.4a9 9 0 00-6.6 2.6 9 9 0 00-2.5 6.5v18.3c0 2.7.8 4.8 2.5 6.6a8.9 8.9 0 006.6 2.5h27.4v271.8c0 15.8 4.5 29.3 13.4 40.4a40.2 40.2 0 0032.3 16.7H338c12.6 0 23.4-5.7 32.3-17.2a64.8 64.8 0 0013.4-41V109.6h27.4c2.7 0 4.9-.8 6.6-2.5a8.9 8.9 0 002.6-6.6V82.2a9 9 0 00-2.6-6.5zm-248.4-36a8 8 0 014.9-3.2h90.5a8 8 0 014.8 3.2L283.2 73H155.3l14-33.4zm177.9 340.6a32.4 32.4 0 01-6.2 19.3c-1.4 1.6-2.4 2.4-3 2.4H100.5c-.6 0-1.6-.8-3-2.4a32.5 32.5 0 01-6.1-19.3V109.6h255.8v270.7z'/%3e%3cpath d='M137 347.2h18.3c2.7 0 4.9-.9 6.6-2.6a9 9 0 002.5-6.6V173.6a9 9 0 00-2.5-6.6 8.9 8.9 0 00-6.6-2.6H137c-2.6 0-4.8.9-6.5 2.6a8.9 8.9 0 00-2.6 6.6V338c0 2.7.9 4.9 2.6 6.6a8.9 8.9 0 006.5 2.6zM210.1 347.2h18.3a8.9 8.9 0 009.1-9.1V173.5c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a8.9 8.9 0 00-9.1 9.1V338a8.9 8.9 0 009.1 9.1zM283.2 347.2h18.3c2.7 0 4.8-.9 6.6-2.6a8.9 8.9 0 002.5-6.6V173.6c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a9 9 0 00-6.6 2.6 8.9 8.9 0 00-2.5 6.6V338a9 9 0 002.5 6.6 9 9 0 006.6 2.6z'/%3e%3c/svg%3e");
  }

  .image-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .image-input:focus {
    outline: none;
  }
</style>

<section style="display: flex; ">
  <div style="flex: 1"><span></span></div>
  <div class="upload-design-container">
    {% form 'contact' %}
      {{ form.errors | default_errors }}

      <div class="input-container first-name">
        <label for="first-name">Your name</label>
        <input type="text" name="contact[first_name]" id="first-name">
      </div>

      <div class="input-container email">
        <label for="email">Your Email</label>
        <input type="email" name="contact[email]" id="email">
      </div>

      <div class="input-container phone">
        <label for="phone">Your Phone Number</label>
        <input type="tel" name="contact[phone]" id="phone">
      </div>

      <div
        class="contact-sign-placement"
      >
        <label
          for="contact-sign-placement"
          style="
            padding: 0 4px;
            color: black;
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          "
          >Placement of the Sign:</label
        >
        <div
          style="
            display: flex;
            align-items: center;
            font-size: 1.2rem;
          "
        >
          <input
            style="
              background: #fff;
              border: 1px solid #ccc;
              border-radius: 2px;
              width: 14px;
              height: 14px;
            "
            type="checkbox"
            name="contact[indoor]"
            value="indoor"

          ><label for="indoor" style="margin-right: 20px">Indoor</label>
          <input
            style="
              background: #fff;
              border: 1px solid #ccc;
              border-radius: 2px;
              width: 14px;
              height: 14px;
            "
            type="checkbox"
            name="contact[outdoor]"
            value="outdoor"

          ><label for="outdoor">Outdoor</label>
        </div>
      </div>

      <div class="input-container sign-size">
        <label for="sign-size">Desired Size of the Sign in Inches (Width x Height)*</label>
        <input type="text" name="contact[sign-size]" id="sign-size">
      </div>

      <div class="input-container upload-logo">
        <svg
          style="height: 30px;"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          x="0px"
          y="0px"
          viewBox="0 0 100 125"
          enable-background="new 0 0 100 100"
          xml:space="preserve"
        >
          <g><path fill="#626D7C" d="M21.182,72.947c-2.501,0-4.529-2.027-4.529-4.529c0-2.501,2.028-4.529,4.529-4.529h13.034   c0.611-2.771,1.533-5.43,2.741-7.926H21.182c-2.501,0-4.529-2.028-4.529-4.529s2.028-4.529,4.529-4.529h22.021   c2.787-2.967,6.065-5.461,9.708-7.36h-31.73c-2.501,0-4.529-2.028-4.529-4.529c0-2.501,2.028-4.529,4.529-4.529H56.85   c2.502,0,4.529,2.028,4.529,4.529c0,0.513-0.105,0.997-0.26,1.457c2.721-0.656,5.557-1.011,8.475-1.011   c1.854,0,3.672,0.142,5.449,0.409V9.059C75.043,4.056,70.988,0,65.984,0H12.059C7.056,0,3,4.056,3,9.059v71.903   c0,5.003,4.056,9.059,9.059,9.059h26.297c-2.97-5.042-4.751-10.862-4.965-17.073H21.182z M21.182,14.634H56.85   c2.502,0,4.529,2.028,4.529,4.529c0,2.501-2.027,4.529-4.529,4.529H21.182c-2.501,0-4.529-2.028-4.529-4.529   C16.653,16.662,18.681,14.634,21.182,14.634z"/><path fill="#626D7C" d="M69.594,43.385c-15.633,0-28.308,12.677-28.308,28.308C41.286,87.328,53.961,100,69.594,100   s28.309-12.672,28.309-28.308C97.902,56.062,85.227,43.385,69.594,43.385z M83.896,74.282c-0.605,0.623-1.404,0.936-2.211,0.936   c-0.773,0-1.545-0.289-2.139-0.869l-6.838-6.635v17.499c0,1.7-1.383,3.079-3.08,3.079c-1.699,0-3.076-1.379-3.076-3.079V67.714   l-6.838,6.635c-1.219,1.181-3.166,1.154-4.352-0.066c-1.182-1.219-1.154-3.167,0.066-4.351l12.059-11.696   c1.193-1.159,3.088-1.159,4.285,0l12.055,11.696C85.051,71.117,85.08,73.063,83.896,74.282z"/></g>
        </svg>
        <label for="upload-logo">Drag and drop your Image/Logo/Design or</label>
        <span class="fake-btn">Choose files</span>
        <input class="image-input" type="file" name="contact[upload-logo]" accept="image/*" required>
      </div>

      <div class="input-container additional-info">
        <label for="additional-info">Additional Information or Requests</label>
        <textarea name="contact[additional-info]" id="additional-info"></textarea>
      </div>

      <div class="submit">
        <input class="upload-submit" type="submit" value="Submit">
      </div>
    {% endform %}
  </div>
</section>

<script>
  const $fileInput = $('.image-input');
  const $droparea = $('.upload-logo');

  $fileInput.on('dragenter focus click', function () {
    $droparea.addClass('is-active');
  });

  $fileInput.on('dragleave blur drop', function () {
    $droparea.removeClass('is-active');
  });

  $fileInput.on('change', function () {
    let filesCount = $(this)[0].files.length;
    let $textContainer = $(this).prev();

    if (filesCount === 1) {
      let fileName = $(this).val().split('\\').pop();
      $textContainer.text(fileName);
    } else if (filesCount === 0) {
      $textContainer.text('or drop files here');
    } else {
      $textContainer.text(filesCount + ' files selected');
    }
  });
</script>

{% schema %}
{
  "presets": [
    {
      "name": "Upload Design Form",
      "category": "Reference"
    }
  ]
}
{% endschema %}
